div#contenedor.container{
    width: 900px;
    margin: 15px auto;
    padding: 50px 30px 10px 30px;
    background: #ffffff;
    line-height: 23px;
    border: 2px solid #dfdfdf;
    border-radius: 10px 10px;
    overflow: hidden;
}

table.table-filter{
	width: 100%;
}
td.filter-cell {
	width: 60%;
}
input.aplicar-button {
	margin-top:3.25%;
}
td.new-cell {
	text-align: right;
	padding-top: 4%;
	width: 15%;
	}
table.table-mostrar {
	margin-left:15%; 
    margin-right:15%;
	width: 70%;
	text-align: center;  
}
a.new-editorial {
	text-align: right;
}
td.new-editorial{
	padding-bottom:3%;
}
form-control{
	width: 25%;
}
h2.header {
	margin-bottom: 2%;
	text-align: center;
}
img.header-img{
    float: left;
    padding: 10px 10px 10px 85px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fbaa00;
}


#navigation-container {
  width: 100%;
  margin: 0 auto;
  height: 80px;
}

.navigation-bar {
  height: 80px;
  width: 100%;
  text-align: right;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

div#contenedor-simbolos.container{
    border: 1px solid #dfdfdf;
    border-radius: 10px 10px;
}

div#simbolos{
    padding-left: 17px;
    padding-bottom: 13px;
    padding-top: 10px;
}

.navigation-bar li a {
  color: black;
  font-size: 16px;
  font-family: cursive;
  text-decoration: none;
  line-height: 105px;
  padding: 5px 15px;
  opacity: 0.7;
}