<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<div class="container" id="contenedor">
		<header>
                <div class="navigation-bar">
                    <div id="navigation-container">
                        <a href="/"><img src="/imagenes/LOGO_URJC_COLOR.png" height="61" width="200" alt="CycleWeb" href="cycleweb.es" class="header-img"></a>
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/editoriales">Editoriales</a></li>
                                <li><a href="/">Ayuda</a></li>
                            </ul>
                    </div>
                </div>
                <hr/>
        </header>
		<h2 class="header">Libreria SD</h2>
		<table class="table-filter">
			<tr>
				<td class="filter-cell">
					<form action="/busqueda" method="post">
					<h4>Filtrar por:</h4>
						<div class="row">
			            	<div class="form-group col-xs-3">
								<label>Autor</label> 
								<select name="autor" class="form-control"> 
									<option th:value="Todos" th:text="Todos"></option>
									<option th:if="libro.id != null" th:each="libro : ${libros}"
									th:value="${libro.autor}" th:text="${libro.autor}"></option>
								</select> 
							</div>
							<div class="form-group col-xs-3">
								<label>Categoria</label> 
								<select name="categoria" class="form-control"> 
									<option th:value="Todos" th:text="Todos"></option>
									<option th:value="Arte" th:text="Arte"></option>
									<option th:value="Ciencias" th:text="Ciencias"></option>
									<option th:value="Cocina" th:text="Cocina"></option>
									<option th:value="Deportes" th:text="Deportes"></option>
									<option th:value="Economia" th:text="Economia"></option>
									<option th:value="Historia" th:text="Historia"></option>
									<option th:value="Idiomas" th:text="Idiomas"></option>
									<option th:value="Infantiles" th:text="Infantiles"></option>
									<option th:value="Medicina" th:text="Medicina"></option>
									<option th:value="Música" th:text="Música"></option>
									<option th:value="Novela" th:text="Novela"></option>
									<option th:value="Romantica" th:text="Romantica"></option>
									<option th:value="Salud" th:text="Salud"></option>
								</select>
							</div>
							<input type='submit' value='Aplicar' class="btn btn-primary aplicar-button" />
						</div>
					</form>
				</td>
				<td class="new-cell">
					<a href="/nuevoLibro" class="btn btn-success new-book">Añadir nuevo libro</a>	
				</td>
			</tr>
		</table>
		<table class="table datatable">
			<tr>
				<th th:text="Titulo" ></th> 
				<th th:text="Autor"></th>
				<th th:text="Páginas"></th>
				<th th:text="Categoria"></th>   
				<th th:text="Modificar"></th>
			</tr>
			<tr th:each="libro : ${libros}" >
				<td th:text="${libro.titulo}"></td> 
				<td th:text="${libro.autor}"></td>  
				<td th:text="${libro.paginas}"></td> 
				<td th:text="${libro.categoria}"></td>   
				<td><a th:href="@{/mostrarPorTitulo(titulo=${libro.titulo})}" th:text="abrir"></a></td>
			</tr>
		</table>
	</div>
</body>
</html>