<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<div class="container" id="contenedor">
		<header>
                <div class="navigation-bar">
                    <div id="navigation-container">
                        <a href="/"><img src="/imagenes/LOGO_URJC_COLOR.png" height="61" width="200" alt="CycleWeb" href="cycleweb.es" class="header-img"></a>
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/editoriales">Editoriales</a></li>
                                <li><a href="/">Ayuda</a></li>
                            </ul>
                    </div>
                </div>
                <hr/>
        </header>
		<h2 class="header">Editoriales</h2>
		<table class="table-filter">
			<tr>
				<td class="new-cell new-editorial">
					<a href="/nuevoEditorial" class="btn btn-success new-book">Añadir nueva editorial</a>	
				</td>
			</tr>
		</table>	
		<table class="table datatable">
			<tr>
				<th th:text="Nombre" ></th> 
				<th th:text="Telefono" ></th>
				<th th:text="Email" ></th>  
				<th th:text="Direccion" ></th>   
				<th th:text="Enlace" ></th> 
			</tr>
			<tr th:each="editorial : ${editoriales}" >
				<td th:text="${editorial.nombre}"></td> 
				<td th:text="${editorial.telefono}"></td>  
				<td th:text="${editorial.email}"></td> 
				<td th:text="${editorial.direccion}"></td>   
				<td><a th:text="abrir"></a></td>
			</tr>
		</table>
	</div>
</body>
</html>