<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<div class="container" id="contenedor">
		<header>
        <div class="navigation-bar">
            <div id="navigation-container">
            	<a href="/"><img src="/imagenes/LOGO_URJC_COLOR.png" height="61" width="200" alt="CycleWeb" href="cycleweb.es" class="header-img"></a>
                <ul>
                    <li><a href="/">Libros</a></li>
                    <li><a href="/editoriales">Editoriales</a></li>
                </ul>
            </div>
        </div>
        <hr/>
        </header>
		<h2 class="header">Nuevo libro</h2>
		<form action="/insertadoLibro" method="post">
		    <div class="form-group row">
			    <label class="col-sm-2">Editorial</label>
			    <div class="col-sm-3">
				    <select name="cif" class="form-control"> 
						<option th:if="editorial.id != null" th:each="editorial : ${editoriales}"
						th:value="${editorial.cif}" th:text="${editorial.cif}"></option>
					</select> 
			    </div>
			    <a href="/nuevaEditorial" class="btn btn-primary">Registrar nueva editorial</a>
		    </div>
		    <div class="form-group row">
			    <label class="col-sm-2">Autor</label>
			    <div class="col-sm-10">
					<input type='text' name='autor' class="form-control" required/>
			   	</div>
		    </div>
		    <div class="form-group row">
			    <label class="col-sm-2">Titulo</label>
			    <div class="col-sm-10">
					<input type='text' name='titulo' class="form-control" required/>
			   	</div>
		    </div>
		    <div class="form-group row">
			    <label class="col-sm-2">Año publicacion</label>
			    <div class="col-sm-10">
					<input type='number' value='2018'  min="1" max="2018" name='ano_publicacion' class="form-control" required/>
			   	</div>
		    </div>
		    <div class="form-group row">
			    <label class="col-sm-2">Páginas</label>
			    <div class="col-sm-10">
					<input type='number' min="1" name='paginas' class="form-control" required/>
			   	</div>
		    </div>
		    <div class="form-group row">
			    <label class="col-sm-2">Isbn</label>
			    <div class="col-sm-10">
					<input type='text' name='isbn' class="form-control" required/>
			   	</div>
		    </div>
		    <div class="form-group row">
			    <label class="col-sm-2">PVP</label>
			    <div class="col-sm-10">
					<input type='number' step='0.01' name='pvp' class="form-control" required/>
			   	</div>
		    </div>
		    <div class="form-group row">
			    <label class="col-sm-2">Categoria</label>
			    <div class="col-sm-3">
				    <select name="categoria" class="form-control"> 
						<option th:value="Arte" th:text="Arte"></option>
						<option th:value="Ciencias" th:text="Ciencias"></option>
						<option th:value="Cocina" th:text="Cocina"></option>
						<option th:value="Deportes" th:text="Deportes"></option>
						<option th:value="Economia" th:text="Economia"></option>
						<option th:value="Historia" th:text="Historia"></option>
						<option th:value="Idiomas" th:text="Idiomas"></option>
						<option th:value="Infantiles" th:text="Infantiles"></option>
						<option th:value="Medicina" th:text="Medicina"></option>
						<option th:value="Música" th:text="Música"></option>
						<option th:value="Novela" th:text="Novela"></option>
						<option th:value="Romantica" th:text="Romantica"></option>
						<option th:value="Salud" th:text="Salud"></option>
					</select> 
			    </div>
		    </div>
		    <a href="/" class="btn btn-primary">Volver</a>
			<input type='submit' value='Enviar' class="btn btn-success" />
  		</form>
	</div>
</body>
</html>